tmp
.bundle/
log/*.log
test/testapp/db/*.sqlite3
test/testapp/log/*.log
db.*.sqlite3
public/system/
Gemfile.lock
.DS_Store
*~
.rvmrc
test/testapp/public/system/
coverage
bin/
pkg
*.gem
nbproject
server
