* {
	margin : 0;
	padding : 0;
}

body {
    width:100%;
    font-family: 'Asap',sans-serif;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

footer#social, .push {
    height: 4em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	/*
	  Override the default (display: inline) for
	  browsers that do not recognize HTML5 tags.
	
	  IE8 (and lower) requires a shiv:
	  http://ejohn.org/blog/html5-shiv
	*/
	display: block;
}

.center_content_wrapper{
	width:100%;
}

.center_wrapper{
	width:900px;
	margin-left:auto;
	margin-right:auto;	
	position:relative;
}

img {
    border: 0;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

img.thumb_facebook {
	width:30px;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- MENU ------------------------------------*/
/*----------------------------------------------------------------------------*/
header { 
	height:50px;
	margin:0px;
	position:fixed;
	z-index:150;
	background: url(/img/background_menu.jpg) repeat-x center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width:900px;
}

#logo_small {
	float:left;
	z-index:-3600;
}

#logo_wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	background-image:url("/img/logo.png");
	width:101px;
	height:204px;
	position:absolute;
}

#header_over {
	position: absolute;
	top:0; left:0;
	z-index:160;
}

header nav {
	width:900px;
    font-family: 'Pacifico', cursive;
}

header nav ul {
	margin-top:10px;
}

header nav ul li {
	display:inline;
	color:#c7bda4;
	margin:0 7px 0 0;
}

header nav ul li a {
	color:#c7bda4;
}

header nav ul#main_nav {
	margin-left: 20px;
	float:left;
}

header nav ul#main_nav li a {
	text-decoration:none;
	font-size:1.1em;
	color:#c7bda4;
}

header nav ul#subscription {
    float:right;	
}

.dot{
    background:url("/img/dot.png") no-repeat;
    width:9px;
    height:9px;
    display:inline-block;
}

.notification{
    background: url("/img/notification.png") no-repeat top left;
    padding:5px 7px 10px 7px;
    cursor:pointer;
    display:inline-block;
    color:#ffffff;
    width:12px;
    height:10px;
    font-size:11px;
    font-family: 'Asap', sans-serif;
    
    position:relative;
    top:-3px;
}

#searchBar {
    background: url("/img/menuSearchBar.png") no-repeat;
    width:341px;
    height:38px;
    float:right;
    position: absolute;
    top: 50px;
    left: 568px;
}

#searchBar #searchField{
    margin:5px 0 0 20px;
    height:17px;
    width:250px;
    border: 2px solid black;
}

#searchBar #searchIcon{
    background: url('/img/searchIcon.png') no-repeat;
    border:none;
    cursor:pointer;
    color:transparent;
    float:right;
    height:30px;
    margin-right:5px;
    margin-top:2px;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- TREE ------------------------------------*/
/*----------------------------------------------------------------------------*/
#tree { 
	background: url(/img/background_sky.jpg) repeat-x;
	min-width:900px;
	height:755px;
}

#tree_man {
  background: url("/img/bench.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 303px;
  margin: 451px 0 0 -31px;
  width: 600px;	
}

#tree_videos{
  height: 445px;
  background: url('/img/background_tree.png') no-repeat;
  position: absolute;
  top: 87px;
  width: 540px;
}

#tree_image{
  height: 43px;
  position:relative;
  top:1.5px;
  right:-1.5px;
  margin: auto;
  width: 50px;
  overflow:hidden;
}

#tree_node{
  height:45px;
  width:70px;
  background: url('/img/tree_node.png');
}

#tree_info {
  float: right;
  margin: 125px 0 0 0;
  width: 330px;
}

#tree_description {
  background-color:#FFFFFF;
  height: 100px;
  padding:5px;
  margin-bottom: 20px;
}

#tree_description img{
  float:left;
  margin-right:5px;
}

#tree_description p{
  font-size:12px;
}

#tree_search {
  background-color:#FFFFFF;
  height: 75px;
  margin-bottom: 20px;
}

#tree_results {
  background-color:#FFFFFF;
  height:330px;
  overflow:auto;
}


#grass {
	background: url(/img/grass.png) repeat-x;
	width:100%;
	height:78px;
	position:absolute;
	top:677px;
}

/*----------------------------------------------------------------------------*/
/*--------------------------- PROJECT DESCRIPTION ----------------------------*/
/*----------------------------------------------------------------------------*/
#project { 
	background: url(/img/background_ground.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-width:900px;
	height:630px;
	padding:80px 0px 0px 0px;
}

#grass_root{
	background: url(/img/grass_root.png) repeat-x;
	width:100%;
	height:78px;
	position:absolute;
	top:755px;
}

#project h3 {
	font-size:2.5em;
	margin:0px 0px 30px 0px;
	font-family: 'Pacifico', cursive;	
}

#project h4 {
        font-size:18px;
        font-weight: normal;
	font-family: 'Pacifico', cursive;	
}

#project ul {
	margin:0px 0px 15px 55px;
        font-size:14px;
}

#project p {
	text-align:justify;
	margin:0px 0px 15px 0px;
        font-size:14px;
}

#project_col_left {
	margin:10px 0 0 0;
}

#project_col_right {
	margin:10px 0 0 0;
}

.space {
	padding:0 50px 0 0;
}

.box_project {
	margin:20px 0 0 0;
	float:left;
	width:420px;
}

.box_project h4 {
	font-size:1.1em;
	margin:0 0 10px 0;
}

.box_project p {
	color:#FFDC8F;
}

.box_project .icon {
	float:left;
}

.box_project .txt_box {
	float:right;
	width:365px;
}

#quotations {
	margin:40px 0 0 0;
	width:400px;
        float:right;
}

#quotations q{
	font-style:italic;
	font-size:1.1em;
	font-weight:bold;
	color:#FFDC8F;
}

#quotations p{
	margin:20px 0 0 0;
}

.quotation_content {
	clear:both;
	margin:20px 0 0 0;
}

#purpose {
    float:left;
	margin:40px 30px 0 0;
	width:400px;
	color:#FFDC8F;
    clear:both;
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- TEAM ------------------------------------*/
/*----------------------------------------------------------------------------*/
#team { 
	background: url("/img/background_bunker.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-width:900px;
	height:800px;
	padding:150px 0 0 0;
}

#team #shadows {
	position:relative;
	opacity:0.7;	
}

#team #shadows img {
	position:absolute;
	cursor:pointer;
}

#member_1 {
	margin:301px 0 0 0;
}

#member_2 {
	margin:311px 0 0 167px;
}

#member_3 {
	margin:391px 0 0 340px;
}

#member_4 {
    margin:318px 0 0 480px;
    width:250px;
}

#member_5 {
	margin:301px 0 0 610px;
}

.member_2 .shadow_folder{
	margin:-12px 0 0 0;
}

.member_3 .shadow_folder{
	margin:7px 0 0 0;
}

.member_4 .shadow_folder{
    margin:-35px 0 0 0;
    width:350px;
}

.member_5 .shadow_folder{
	margin:-11px 0 0 0;
}

#folder_content {
	overflow:hidden;	
}

.folder_wrapper{
	position:relative;
	left:1200px;
}

.cross {
	float:right;
	position:relative;
	bottom:5px;
	cursor:pointer;
}

.shadow_folder{
	float: left;
    position: relative;
    top: 202px;
}

.folder {
	background: url("/img/folder.png") no-repeat;
	height:531px;
	margin: 0 0 0 357px;
    position: relative;
    top: 311px;
	padding:70px 50px 25px 25px;
}

.folder h4 {
	font-size:2em;
}

.folder h5 {
	font-size:1.1em;
	font-style:italic;
	margin:0 0 30px 0;
}

.folder p {
	font-size:0.9em;
	text-align:justify;
}

.profil {
	float:right;
	margin:40px 0 0 0;
}

.profil img {
	position:relative;
	top:4px;
	margin:0 5px 0 0;
}

.profil a {
	color:#000;
}

.profil a:hover {
	text-decoration:none;	
}

.hidden {
	display:none;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- PROFILE ----------------------------------*/
/*----------------------------------------------------------------------------*/
#sky { 
	background: url(/img/background_sky_sheet.jpg) repeat-x;
	min-width:900px;
}

.img_sheet {
	float:left;
	margin:0 0 15px 0;
}

.info_sup {
	clear:left;
	font-size:13px;
	width: 180px;
}

.info {
	clear:both;
	margin:10px 0;
}

.info p {
    position: relative;
    top: 4px;
    left: 7px;
}

#social_content {
	position:relative;
	bottom:96px;
}

#content {
	background-color:#fff;
	width:733px;
	padding:44px 20px 0 20px;
}

#content h3 {
	font-size:20px;
}

#content h4 {
	font-size:20px;
	border-bottom:1px solid #000;
	margin:0 0 15px 0;
}

#content p{
	text-align: justify;
	font-size:13px;
}

#content .project_list {
	margin:0 0 15px 0;
	position:relative;
}

#content .project_list img{
	margin:0 15px 0 0;
}

#content .project_list h3{
	margin:0 0 15px 0;
}

#content .project_list .send_mail{
	position:absolute;
	bottom:15px;
	right:0;
}

.socialContainer
{
    width:960px;
    padding:125px 0 75px 0;
    margin:auto;
}

.socialContainer a
{
   color:#000;
   text-decoration:none;
   font-weight:bold;
}

.socialContainer h1 {
    padding: 0 0 0 205px;
    position: relative;
    bottom: 5px;
    text-transform:capitalize;
}

.socialContainer #jobs {
    padding: 0 0 0 204px;
    position: relative;
    bottom: 5px;
    color:#666;
}

.socialContainer #jobs span {
    margin: 0 5px 0 0;
}

#socialInfo {
    float:left;
    width:200px;
    padding:5px;
}

#socialInfo h3{
    margin-top:10px;
    font-size: 15px;
    font-weight: bold;
}

#socialInfo p {
    font-size: 12px;
}

#socialInfo img {
    width:98%;
    border:2px solid #000000;
}

#socialTitle {
    margin-bottom:30px;
}

#socialTitle img{
    margin-left:20px;
    margin-top:5px;
}

#socialTitle h1 {
    font-weight: bold;
    font-size:28px;
    margin:0;
}

#socialTitle #titleBlock {
    float:left;
    height: 100%;
}

#socialTitle h2
{
    color:#354B97;
    font-weight: bold;
    font-size:16px;
    margin:0;
}

.socialRight
{
    margin-left:25%;
}

#bubbleContainer{
    width:500px;
}

.bubble{
    margin-top:30px;
    padding:10px;
    background-color: #D1E2CA;
}

.bubble img{
    width:100px;
    margin-right:10px;
    float:left;
}

.bubble p{
    font-size:12px;
}

.bubble h1{
    font-size:18px;
    margin-bottom:3px;
}

/*----------------
ANNOUNCES
-----------------*/

.bubble h2{
    font-size:14px;
    margin-bottom:3px;
}

.bubble .idContact{
    text-decoration: none;
    color:#354B97;
}

.bubble .localisationContact{
    text-decoration: none;
    color:#026837;
}

.announceFilter{
    margin:25px 0 0 30px;
}

.announceFilter :first-child{
    margin-right:20px;
}

.announceFilter select{
    background-color: #f2f2f2;
    height:25px;
    width:130px;
    font-size: 12px;
    border: 2px solid #d0d0d0;
}

/*-------------
MENU SOCIAL
-------------*/

#tabs
{
    font-weight : bold;
    font-size:12px;
    list-style-type : none;
    padding-bottom : 34px;
    border-bottom : 1px solid #D9D9F3;
    margin-left : 0;
}

#tabs li
{
    float : left;
    height : 20px;
    background-color: #E6E5E6;
    margin : 3px 3px 0 3px;
    border : 1px solid #D9D9F3;
    padding : 5px;
}

#tabs >:first-child{
    margin-left:20px;
}

#tabs li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#tabs a
{
    display : block;
    color : #000000;
    text-decoration : none;
    padding : 5px;
    cursor:pointer;
}

#tabs li:hover
{
    border-bottom: 1px solid #949494;
    background-color : #949494;
}

/*----------------------------------------------------------------------------*/
/*------------------------ EDIT PROFILE / PROJECT ----------------------------*/
/*----------------------------------------------------------------------------*/
form.edit_user, form.edit_project {
	margin:10px 0 0 0;
}

#member_job form.edit_project {
    float: right;
    width: 284px;
    position:relative;
    bottom: 6px;
}

#member_job form.edit_project input[type="submit"]{
    position:relative;
    bottom: 6px;
}

form.new_project {
	width:420px;
	overflow:hidden;
}

form.new_announce {
    margin:0 0 35px 0;
}

.edit_user .field, .edit_project .field, .new_project .field, .new_announce .field{
	margin:0 0 7px 0;
	font-size:13px;
}

.edit_user .job_box {
	width:143px;
}

.job_box .delete {
	width:18px;
    position: relative;
    top: 3px;
}

.edit_user .job_box p {
	float:left;
	clear:both;
}

.edit_user .field.no_job label {
	float:left;
}

.edit_user .field.no_job select {
	margin: 0 0 0 35px;
}

.edit_user label, .edit_project label, .new_project label, .new_announce label{
	margin:0 15px 0 0;
	font-weight:bold;
}

.edit_user input, .edit_project input, .new_announce input {
	float:right;
	border:1px solid #D9D9F3;
	margin: 0 340px 0 0;
	font-size:1em;
	width:286px;
}

.edit_user select {
	border:1px solid #D9D9F3;
    float: left;
    margin: 0 0 0 104px;
	background:#fff;
}
.new_announce select{
    border:1px solid #D9D9F3;
    margin: 0 0 0 65px;
    background:#fff;
}

#edit_project_2 {
    margin:0 0 0 7px;
}

#form_job .edit_user select, #form_job .edit_project select{
    border:1px solid #D9D9F3;
    margin:2px 10px 0 0;
    float:left;
    background:#fff;
}

#form_job .edit_user input[type="submit"], #form_job .edit_project input[type="submit"] {
    float:left;
    margin:0;
}

#form_job img.left {
    margin:0 10px 10px 0;
}

#form_job p {
    font-size:15px;
}

#form_job .job_box span {
    font-size:13px;
    position:relative;
    bottom:5px;
}

.new_project input {
	float:right;
	border:1px solid #D9D9F3;
	margin: 0 28px 0 0;
}

.edit_user input[type="submit"], .edit_project input[type="submit"], .new_project input[type="submit"], .new_announce input[type="submit"]{
	background-color:#ededed;
	padding:2px 5px;
	margin: 10px 340px 0 0;
	border:none;
	width:auto;
}

.new_project input[type="submit"] {
	margin: 10px 28px 0 0;
}

.edit_project textarea, .new_project textarea, .new_announce textarea {
    border: 1px solid #D9D9F3;
    height: 140px;
    margin: 3px 239px 0 0;
    width: 390px;
    font-family: 'Asap',sans-serif;
	font-size:1em;
}

.new_announce textarea {
    height: 79px;
}

.edit_user textarea {
	border: 1px solid #D9D9F3;
	height: 67px;
   	margin: 0 340px 0 0;
    width: 286px;
    float:right;
    font-family: 'Asap',sans-serif;
	font-size:1em;
}

.members {
	width:366px;
}

.members h5{
	font-size:14px;
	margin:0 0 10px 0;
}

.members img{
	margin:0 10px 10px 0;
}

#content .members p{
	margin:13px 0 0 0;
	font-size:15px;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ PROJECT SHEET -------------------------------*/
/*----------------------------------------------------------------------------*/
.project_members p {
	margin:5px 0 0 5px;
}

.project_members img {
    margin:0 0 7px 0;
}

.write_msg .edit_project {
	margin:0;
}

.write_msg img {
	margin:0 10px 0 0;
}

.write_msg .edit_project textarea {
	width: 635px;
	height:45px;
	margin:0;
	padding:2px 3px;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- SIGNUP -----------------------------------*/
/*----------------------------------------------------------------------------*/
.subscription {
	margin:15px 0 15px 0;
    width:960px;
    padding:125px 0 50px 0;
    margin:auto;
}

.popup_subscription, .popup_subscription .login {
    margin-top:0;
    padding-top:0;
}

.popup_login .login h1 {
    margin:65px 0 30px 0;
}

#signup {
	margin:0 30px 30px 30px;
}

#signup h1 {
	margin: 15px 0 30px;
}

#signup .left {
	margin:5px 0 0 0;
}

#signup .left ul {
	margin:15px 0 0 30px;
}

#signup .left ul li {
	padding:2px 0 2px 0;
}

#signup .right {
	padding:0 0 0 60px;
    width: 426px;
}

#instant_signup img {
	width:60px;
}

#instant_signup {
	margin:0 0 40px 0;
}

#signup h3 {
	margin:0 0 7px 0;
	border-bottom:1px solid #000;
}

#instant_signup p, #normal_signup p {
	margin:0 0 5px 0;
}

#instant_signup label, #normal_signup label {
	margin:0 7px 0 0;
}

#instant_signup input, #normal_signup input {
	float:right;
	border:1px solid #D9D9F3;
}

#instant_signup input[type="submit"], #normal_signup input[type="submit"] {
	background-color:#ededed;
	padding:2px 5px;
	margin:10px 0 0 0;
}

#normal_signup ul {
    margin:0 0 15px 0;
}

#normal_signup ul li {
    list-style-type:none;
    color:red;
}

.login {
	width:400px;
}

.popup_login {
    width:450px;
    padding:25px 0 15px 0;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- SEARCH -----------------------------------*/
/*----------------------------------------------------------------------------*/
#sky_search { 
    background: url(/img/background_sky_search.jpg) repeat-x;
    min-width:900px;
}

h1#search_result {
    padding:0;
    text-transform:none;
}

#search_content {
    margin:65px 0 0 0;
}

#search_content .category {
    margin:0 0 35px 0;
    width:430px;
}

#search_content p {
    font-size:13px;
    text-align:justify;
    margin:10px 0 0 0;
}

.category img {
    margin:0 7px 10px 0;
}

#search_content h4 {
    margin:0 0 15px 0;
    border-bottom:1px solid #000;
}

#search_content h4 span {
    font-size:16px;
    position:relative;
    top:0px;
}

.category .tags {
    font-size:12px;
    color: #666666;
    position:relative;
    bottom:5px;
}

.category .grey {
    color: #666666;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ ALL ANNOUNCES -------------------------------*/
/*----------------------------------------------------------------------------*/
h1#announces_result {
    padding:0;
    text-transform:none;
}

#announces {
    margin:65px 0 0 0;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- ANNOUNCES SHEET ------------------------------*/
/*----------------------------------------------------------------------------*/
#social_content #announces {
    margin:0;
}

#announces a img {
    margin:0 7px 10px 0;
}

#announces span {
    margin:0 0 5px 0;
    color: #666666;
    font-size:13px;
    position:relative;
    bottom:4px;
}

#announces h3 span {
    margin:0 0 5px 0;
    color: #666666;
    font-size:13px;
    position:relative;
    bottom:0;
}


#announces p img {
    margin:0 2px 0 25px;
}

#announces p {
    margin:15px 0 0 0;
    display:inline;
    text-align:justify;
}

#announces p.description{
    display:block;
    width: 555px;
    font-size:13px;
}

#announces .send_mail {
    float:right;
}

#announces p.send_mail {
    margin:6px 0 0 0;
}

.announce {
    margin:0 0 25px 0;
}

.send_mail form select {
    border:1px solid #D9D9F3;
    float: left;
    margin: 0 0 0 104px;
    background:#fff;
}

.send_mail form input[type="submit"]{
    background-color: #EDEDED;
    border: medium none;
    margin: 0 0 0 5px;
    padding: 1px 2px;
    width: auto;
}

/*----------------------------------------------------------------------------*/
/*---------------------------- MANAGE CANDIDATES -----------------------------*/
/*----------------------------------------------------------------------------*/
.manage_candidates {
    width:300px;
    margin:5px;
}

.manage_candidates h4 {
    margin:0 0 25px 0;
}

.manage_candidates img.left {
    margin:0 8px 7px 0; 
}

.manage_candidates p a{
    text-decoration:none;
    color:black;
    position:relative;
    bottom:5px;
}

.manage_candidates #jobs span {
    color:#666666;
    font-size:13px;
    position:relative;
    bottom:11px;
}

.manage_candidates .send_mail {
    float:right;
    position: relative;
    top: 2px;
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- FOOTER -----------------------------------*/
/*----------------------------------------------------------------------------*/
footer#water { 
	background: url(/img/background_water.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-width:900px;
	height:110px;
	padding:174px 0 0 0;
	font-size:14px;
}

footer#social { 
	background: url(/img/background_ground.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-width:900px;
	height:100px;
	padding:60px 0 0 0;
	margin: 75px 0 0 0;
	position:relative;
}

footer#social p {
	color:#000;
} 

footer p {
	text-align:center;	
	color:#fff;
}

#grass_footer {
	background: url(/img/grass.png) repeat-x;
	width:100%;
	height:78px;
	position:absolute;
	top:-79px;
}

#grass_root_footer{
	background: url(/img/grass_root.png) repeat-x;
	width:100%;
	height:78px;
	position:absolute;
	top:-1px;
}

/* COMMUNICATION */

div#posts {
	margin-top: 10px;
}

div.post {
	display: block;
	min-height: 50px;
	border-top: 1px grey dotted;
	margin-bottom: 2px;
	padding-top: 2px;
}

div#posts :first-child {
	border-top: none;
}

div.post img.left {
	margin-right: 5px;
}