#container.socialContainer

  #socialInfo
    %img{:src => "img/eastwood.png"}/
    %h3 Localisation
    %p Arlanza, Espagne
    %h3 Membres
    %p
      %a{:href => "#"} @ChuckNorris
    %p
      %a{:href => "#"} @HarissonFord

  .socialRight
    #socialTitle
      %a{:href => "#"}
        %img{:src => "img/favourite.png"}/
      #titleBlock
        %h1 TheGroupWithNoName
        %h2 
          %a{:href => "#"} #No
          %a{:href => "#"} #Name 
          %a{:href => "#"} #Poncho 
          %a{:href => "#"} #Good
          %a{:href => "#"} #Dollars

    #socialContent

      #socialMenu
        %ul#tabs
          %li.active
            %a{:href => "#"} Communiquer
          %li
            %a{:href => "#"} Video
          %li
            %a{:href => "#"} Annonces

        #bubbleContainer
          = render :partial => "profileGroup"