#header_over.center_content_wrapper
  .center_wrapper
    /
      %a{:href => "#"}
    /
      %img#logo{:alt => "It's a Small Schizophrenic World", :src => "/img/logo.png"}/

%header.center_content_wrapper{:role => "masthead"}
  %nav.center_wrapper
    %a{:href => "/"}
      %img#logo_small{:alt => "It's a Small Schizophrenic World", :src => "/img/logo_small.png"}/
    %ul#main_nav
      - if logged_in?
        %li
          %a{:href => "/"} L'Arbre
        %li|
        %li
          %a{:href => "/announces"} Annonces
        %li|
        %li
          %a{:href => "/messages"} Messages
        %li.notification 12

      - else
        %li#l-home
          %a.scrollin{:href => "/"} L'Arbre
        %li|
        %li#l-project
          %a.scrollin{:href => "#project"} Le Projet
        %li|
        %li#l-team
          %a.scrollin{:href => "#team"} Notre Equipe

    %ul#subscription
      - if logged_in?
        %li
          %a{:href => "/profile"}= current_user.login
        %li.dot
        %li
          %a{:href => "/logout"} se déconnecter

      - else
        %li
          %a.popup{:href => "#form_subscription"} s'inscrire
        %li.dot
        %li
          %a.popup{:href => "#form_login"}se connecter

    =form_tag('/application/results', :method => 'get', :id => 'searchBar') do
      %p
        = text_field_tag :search, params[:search], :id => 'searchField'
        = submit_tag "Search", :name => nil, :id => 'searchIcon'



