#container.socialContainer

  #arbre1.arbre{:style => "height:100px;"}
    %ul
      %li#root_1
        %img{:alt => "Root", :border => "0", :src => "img/favicon16.png"}/
        %a{:href => "#"} Hacker ouvert
        %ul
          %li#child_2
            %img{:alt => "Root", :border => "0", :src => "img/favicon16.png"}/
            %a{:href => "#"} Formation
          %li#child_3
            %img{:alt => "Root", :border => "0", :src => "img/favicon16.png"}/
            %a{:href => "#"} Video child 2
      %li#root_4
        %img{:alt => "Root", :border => "0", :src => "img/favicon16.png"}/
        %a{:href => "#"} Un schizo freine la machine