#bubble1.bubble
  %img{:src => "img/eastwood.png"}/
  %h2 Sergio's pizza
  %p Contrairement à une idée répandue, le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le cas des textes justifiés : en effet, les mots fictifs employés dans le faux-texte ne faisant évidemment pas partie des dictionnaires des logiciels de PAO.

#bubble2.bubble
  %img{:src => "img/eastwood.png"}/
  %h2 Sergio's pizza
  %p Contrairement à une idée répandue, Contrairement à une idée répandue, le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le c le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le c Contrairement à une idée répandue, le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le cas des textes justifiés : en Contrairement à une idée répandue, le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le cas des textes justifiés : en effet, les mots fictifs employés dans le faux-texte ne faisant évidemment pas partie des dictionnaires des logiciels de PAO.