#container.socialContainer
  #socialInfo
    %img{:src => "img/eastwood.png"}/
    %h3 Localisation
    %p Arlanza, Espagne
    %h3 Statut
    %p Contrairement à une idée répandue, le faux-texte ne donne même pas un aperçu réaliste du gris typographique, en particulier dans le cas des textes justifiés.
  .socialRight
    #socialTitle
      %h1 TheManWithNoName
      %h2 
        %a{:href => "#"} #Clint
        %a{:href => "#"} #Eastwood 
        %a{:href => "#"} #Poncho 
        %a{:href => "#"} #Good
        %a{:href => "#"} #Dollars
    #socialContent
      #socialMenu
        %ul#tabs
          %li.active
            %a{:href => "#"} Projets en cours
          %li
            %a{:href => "#"} Projets terminés
          %li
            %a{:href => "#"} Annonces
        #bubbleContainer
          = render :partial => "profileAnnounce"