%form.announceFilter
  %select
    %option{:value => "default"} Localisation
    %option{:value => "paris"} Paris
    %option{:value => "mlv"} Marne la vallée
    %option{:value => "autre"} Autre

  %select
    %option{:value => "default"} Job
    %option{:value => "cadreur"} Cadreur
    %option{:value => "real"} Réalisateur
    %option{:value => "autre"} Autre

#bubble1.bubble
  %h1 Recherche Cadreur professionnel
  %h2 
    by
    %a.idContact{:href => "#"} #JamesBrown
    at 
    %a.localisationContact{:href => "#"} #Marne_la_Vallée
  %p Bonjour les copains. Je recherche activement un camera-man pour faire un film sur la mousse expensive. A vot’ Bon coeur !

#bubble2.bubble
  %h1 Recherche Acteur
  %h2 
    by
    %a.idContact{:href => "#"} #JamesBrown
    at 
    %a.localisationContact{:href => "#"} #Marne_la_Vallée
  %p Bonjour les copains. Je recherche activement un camera-man pour faire un film sur la mousse expensive. A vot’ Bon coeur !