#container
  #grass
  #grass_root
  #main{:role => "main"}
    %section#tree.center_content_wrapper
      .center_wrapper
        #tree_wrapper
          #tree_videos
            #infovis
            #log
          #tree_man
        #tree_info
          #tree_description
            %img#tree_description_pic{:height => "100px", :src => "system/avatar_projects/1/medium/Anonymous.jpg"}/
            %h4#tree_description_title Titre de la vidéo
            %p#tree_description_text Description du clicked node!
          #tree_search
            %p Filtres pour la recherche
          #tree_results
            %br/
            RESULTATS
            %br/
            DE
            %br/
            LA
            %br/
            RECHERCHE
            %br/
            %a{:href => "javascript:displayNewNode(2)"} Node2
            %br/
            %a{:href => "javascript:displayNewNode(3)"} Node3
            %br/
            %a{:href => "javascript:displayNewNode(4)"} Node4
            %br/
            %a{:href => "javascript:displayNewNode(5)"} Node5
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
            %br/
            sasasasa
    %section#project.center_content_wrapper
      .center_wrapper
        %h3 It's a small schizophrenic world
        %p ... Est une initiative dans le domaine du film collaboratif. L'objectif est de lancer les bases d'une histoire, d'un univers que vous pouvez enrichir à votre guise. Pour vous aider à commencer, l'histoire introduit un personnage Rob, un hacker qui se retrouve mêlé à une histoire de vaste opration de piratage informatique dont il serait le responsable. En quête de vérité, Rob va découvrir une technologie permettant de changer de corps à volonté, tout en acquérant et conservant les aptitudes de chaque corps possédé. Bien sûr, certaines personnes souhaitent garder cette technologie pour eux-mêmes. Rob a, lui, d'autres objectifs:
        %ul
          %li Retrouver et faire tomber ceux qui se sont servis de lui
          %li Comprendre et améliorer cette technologie
          %li La rendre accessible à tous pour briser les barrières de l'individu
        %p Participez à votre tour et faites grandir ce petit monde de schizophrènes.
        #project_col_left
          .box_project.space
            .icon
              %img{:alt => "", :src => "img/icon-schizo.png"}/
            .txt_box
              %h4 Prenez le destin de Rob en main...
              %p A chaque fin de vidéos, des instructions vous sont proposées. Libre à vous de les suivre ou pas. Vous pouvez également créer votre propre Schizo, et l'aider à réaliser ses propres objectifs.
          .box_project
            .icon
              %img{:alt => "", :src => "img/icon-mail.png"}/
            .txt_box
              %h4 L'inscription est simple, gratuite, sans engagement
              %p Rassurez-vous, le spam, ce n'est pas notre truc. Votre adresse de messagerie ne sera pas transmise à des tiers, elle ne sert qu'à vous authentifier.
        #project_col_right
          .box_project.space
            .icon
              %img{:alt => "", :src => "img/icon-heart.png"}/
            .txt_box
              %h4 Selon vous, où doit s'arrêter le partage ?
              %p La liberté, la vie privée, le choix de partager sont des thèmes abordés. Trouvez votre propre solution, exprimez toutes les ambiguïtés du problème.
          .box_project
            .icon
              %img{:alt => "", :src => "img/icon-talk.png"}/
            .txt_box
              %h4 Un espace communautaire dédié aux Schizo
              %p Partagez vos vidéos, découvrez de nouveaux contacts pour réaliser votre film (cadreur, monteur, scénariste,...).

    #folder_content
      %section#team.center_content_wrapper
        .center_wrapper
          #shadows
            %img#member_1{:alt => "", :src => "img/shadow_charly_mini.png"}/
            %img#member_2{:alt => "", :src => "img/shadow_arnaud_mini.png"}/
            %img#member_3{:alt => "", :src => "img/shadow_holy_mini.png"}/
            %img#member_4{:alt => "", :src => "img/shadow_emeline_mini.png"}/
            %img#member_5{:alt => "", :src => "img/shadow_alexandre_mini.png"}/
          .member_1.folder_wrapper.hidden
            %img.shadow_folder{:alt => "", :src => "img/shadow_charly.png"}/
            .folder
              %img.cross{:alt => "", :src => "img/cross.png"}/
              %h4 Charly Kraft
              %h5 Administrator, Director
              %p Charly Kraft est un réalisateur en herbe. Extrêmement sérieux et doué en tout, ce jeune touche-à-tout a fait de nombreux court-métrages dans sa jeunesse qui lui ont valu l’admiration de tous à l’école d’ingénieur IMAC. Il est l’un des deux réalisateurs du projet SSW.
              .profil
                %img{:alt => "", :src => "img/profil.png"}/
                %a{:href => "#"} Voir le profil
          .member_2.folder_wrapper.hidden
            %img.shadow_folder{:alt => "", :src => "img/shadow_arnaud.png"}/
            .folder
              %img.cross{:alt => "", :src => "img/cross.png"}/
              %h4 Arnaud Desfontaines
              %h5 Administrator, Director
              %p Arnaud Desfontaines, comme son nom ne l’indique pas, est un vrai scientifique... et habitué des tournages. Il collabore avec Charly avec rigueur et sympathie pour réaliser les premiers épisodes, et on peut compter sur son humour pour mettre l’ambiance.
              .profil
                %img{:alt => "", :src => "img/profil.png"}/
                %a{:href => "#"} Voir le profil
          .member_3.folder_wrapper.hidden
            %img.shadow_folder{:alt => "", :src => "img/shadow_holy.png"}/
            .folder
              %img.cross{:alt => "", :src => "img/cross.png"}/
              %h4 Holy Razafinjoelina
              %h5 Administrator, Sound Designer
              %p Holy au nom de famille imprononçable, nous a fait partager ses talents rédactionnels en créant les différents articles et en tenant à jour les différents moyens de communication du projet. Son aisance apporte à notre projet une touche de grâce et de féminité dans ce monde de geek.
              .profil
                %img{:alt => "", :src => "img/profil.png"}/
                %a{:href => "#"} Voir le profil
          .member_4.folder_wrapper.hidden
            %img.shadow_folder{:alt => "", :src => "img/shadow_emeline.png"}/
            .folder
              %img.cross{:alt => "", :src => "img/cross.png"}/
              %h4 Emeline Esteves
              %h5 Administrator, Web Developer
              %p Emeline Esteves est le pilier central dans l’organisation du projet. Avec beaucoup de self control, elle réussit toujours ce qu’elle entreprend, tout en restant à l’écoute de chaque membre de l’équipe. Son expertise en web la rend indispensable, tout comme ses bonnes crèpes.
              .profil
                %img{:alt => "", :src => "img/profil.png"}/
                %a{:href => "#"} Voir le profil
          .member_5.folder_wrapper.hidden
            %img.shadow_folder{:alt => "", :src => "img/shadow_alexandre.png"}/
            .folder
              %img.cross{:alt => "", :src => "img/cross.png"}/
              %h4 Alexandre Mahe
              %h5 Administrator, Project Chief
              %p Alexandre Mahe est le chef de projet du projet SSW. Il est aussi le créateur de l’idée originale de cet ambitieux projet. Très orienté nouvelles technologies et logiciels libres, ce jeune IMACien représente bien la philosophie du projet. Toutes les ressources sont libres et le partage est une valeur très importante pour lui.
              .profil
                %img{:alt => "", :src => "img/profil.png"}/
                %a{:href => "#"} Voir le profil
.push
          